/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glass container */
.container {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 40px;
    width: 380px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}



/* Labels */
label {
    color: #ddd;
    font-size: 13px;
}

/* Inputs */
input,
select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 18px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    font-size: 14px;
}

/* Input focus */
input:focus,
select:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.25);
}

/* Placeholder color */
input::placeholder {
    color: #ccc;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover effect */
button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 198, 255, 0.6);
}

/* Select option color fix */
select option {
    color: black;
}